# vscode
.vscode 

# Intellij
*.iml
.idea

# npm
node_modules

# Commit the production main.js at the repository root for Git Installer & Updater.

# Exclude sourcemaps
*.map

# obsidian
data.json

# Exclude macOS Finder (System Explorer) View States
.DS_Store
